/* Titan One */
@font-face {
  font-family: "Titan One";
  src: url("public/Fonts/TitanOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Pompiere */
@font-face {
  font-family: "Pompiere";
  src: url("public/Fonts/Pompiere-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme inline {
  --font-titan: var(--ff-titan);
  --font-pompiere: var(--ff-pompiere);

  --color-vert-clair: var(--clr-light-green);
}

@layer base {
  :root {
    --ff-titan: "Titan One", sans-serif;
    --ff-pompiere: "Pompiere", sans-serif;

    --clr-white: oklch(1 0 0);
    --clr-light-green: hsl(145, 100% 50%);
  }
}

body {
  margin: 0;
  height: 100vh;
}
.wrapper {
  overflow-x: hidden;
  position: relative;
}
* {
  box-sizing: border-box;
}

svg {
  position: absolute;
  top: 12em;
  left: 10vw;
  width: 50vw;

  .mask {
    width: 0;
  }
}

.container {
  display: flex;
  width: 300vw;

  .col {
    display: flex;
    gap: 3em;

    p {
      font-size: 0.8rem;
    }
  }

  section {
    width: 100vw;
    padding: 20vw 10vw;

    h1 {
      font-size: 3rem;
      margin: 0;
    }

    p {
      font-size: 1.2rem;
      width: 50vw;
    }

    ul {
      list-style-type: none;
      display: flex;
      gap: 3em;
      width: 100%;
      height: 300px;
      padding: 0;

      li {
        background: white;
        border-radius: 0.3em;
        flex-grow: 1;
      }
    }
  }
}

section {
  height: 100vh;
}
